@import "../../SCSS/variables.scss";
@import "../../SCSS/mixins.scss";

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    div {
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: 3px;
      }
      input {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid #DBDBDB;
      }
      input:focus {
        outline: none;
      }
    }
  .submit-btn {
      @include app-btn;
      margin-top: 20px;
  }
}