@import '../../../src/variables.scss';
@import "../../mixins.scss";

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: #000000ce;
    .modal-body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 70vh;
        width: 50vw;
        position:relative;
        background-color: $bgColor;
        border: 1.5px solid $primaryColor;
        border-radius: 20px;
        .close-btn {
            position: absolute;
            right: 22px;
            top: 22px;
            width: 22px;
            height: 22px;
            opacity: 0.3;
          }
          .close-btn:hover {
            opacity: 1;
          }
          .close-btn:before, .close-btn:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 22px;
            width: 2px;
            background-color: #333;
          }
          .close-btn:before {
            transform: rotate(45deg);
          }
          .close-btn:after {
            transform: rotate(-45deg);
          }
          h1 {
            margin-bottom: 50px;
          }
          form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            div {
              display: flex;
              flex-direction: column;
              label {
                margin-bottom: 3px;
              }
              input {
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 10px;
                border: 1px solid #DBDBDB;
              }
              input:focus {
                outline: none;
              }
            }
          .submit-btn {
              @include app-btn;
              margin-top: 20px;
          }
        }
    }
}