@import "../../SCSS/variables.scss";
@import "../../SCSS/mixins.scss";

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 10px 0px;
    background-color: $bgColor;
    border-bottom: 1px solid $navShadow;
}

.tabs {
    display: flex;
    width: 30%;
    a {
        text-decoration: none;
        color: $fontColor;
        font-weight: 600;
    }
    a:last-child {
        margin-left: 70px;
    }
}


.create-monster-btn {
    @include app-btn;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    .user-thumbnail {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .user-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: $fontColor;
        height: 40px;
        margin-left: 7px;
        .user-name {
            font-weight: 600;
            margin-bottom: 2px;
            font-size: 0.9rem;
        }
        .user-role {
            font-size: 0.8rem;
        }
        .user-name, .user-role {
            p {
                margin: 0;
            }
            height: 15px;
        }

    }
}